@use 'palette.module';
@import './decksPage.scss';
@import './footer.scss';
@import './header.scss';
@import './pageLayout.scss';

#root {
  margin: 0;
  width: 100%;
}

body {
  background-color: palette.$color__base-light;
  display: flex;
  margin: 0;
  min-height: 100vh;
  min-width: 320px;

  &.dark {
    background-color: palette.$color__gray-dark;
  }
}

.app {
  background-color: palette.$color__base-light;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto';
  justify-content: space-between;

  &.dark {
    background-color: palette.$color__gray-dark;
  }
}
